# Data Processing and Analysis
pandas==2.0.0
numpy==1.24.3

# Database
psycopg2-binary==2.9.6
sqlalchemy==2.0.15

# Jupyter Environment
jupyter==1.0.0
ipykernel==6.22.0
ipywidgets==8.0.6

# Visualization
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.14.1
kaleido==0.3.0  


